.fondo-gral {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-position: 44% 41%;
    background-size:cover;
    }
    

    
    .nav {
        padding:2px;
        display: flex;
        background-color:black;
        border-bottom:  5px solid rgb(101, 74, 222);
    }
    .nav div {
        display: flex;
        display: inline;
        margin: 7px;   
    }
    .inicio{
        color: white;
        margin-right: 4px;
    } /*ENCUADRE*/
    .boton-nav {
        color:white
    }
    
    
    
    
    
    
    body {
      overflow-x: hidden;
    }
    
    .cabezaindex {
      background-image: url(img/Obelisco.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      display: block;
      text-align: center;
      height: 84vh;
      padding-top: 100px;
      position: relative;
      overflow: hidden;
      margin: 0; 
      padding: 0; 
      width: 100%; 
    }

.link-fb,
.link-ig {
  width: 150px;
  height: 150px;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 2;
}

.link-fb::after,
.link-ig::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.link-fb:hover,
.link-ig:hover {
  transform: scale(1.1);
}

.link-fb:hover::after,
.link-ig:hover::after {
  opacity: 1;
}
      .divisorindex {
        padding: 70px;
        background-color: rgb(27, 27, 27);
        text-align: center;
        border: #fff solid 1px;
        border-left: none;
       border-right: none;
      }
    
      .horarios {
        background-image: url(img/auditorio.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        text-align: center;
        padding: 2rem;
        font-size: 1.5rem; 
      
        
        background-color: rgba(0, 0, 0, 0.8);
      }
      
      
      .horarios h2,
      .horarios p,
      .horarios h6 {
        color: white;
        font-size: 1.5rem; 
      }
      
     
      .horarios h6 {
        font-weight: bold;
      }
      
     
      @media screen and (max-width: 768px) {
        .horarios {
          font-size: 1.5rem;
        }
      }
    .fondohor{
      background-color: rgba(27, 27, 27, 0.6);
      padding: 15px;
    }
    
    
    .cartel-index {
      display: block;
      text-align: center;
      margin-top: 50px;
    }
        
    
    .cartel-index h1 {
        font-style: italic;
    }
    .cartel-index h3 {
        font-style: italic;
    }
    
    .link-fb {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin-right: 17px;
    }
    .link-ig {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin-left: 17px;
    }
    
    
    
    
    
  
    
    
    
    
    
    
    
    
    /*NOSOTROS NOSOTROS NOSOTROS*/
    .fondo-nosotros {
        background-image: url(img/fondo-nosotros.jpeg);
        background-repeat: no-repeat;
        background-position: 70% 100%;
        background-size: 100%;
      }
      
      .cabeza-nosotros {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: url(img/encabezado.jpg);
        height: 100%;
        width: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        text-align: center;
      }
      
      .sobre-nosotros {
        padding: 40px;
        background-color: rgb(27, 27, 27);
        text-align: center;
        margin-bottom: 5px;
        border:#fff solid 1px;
        border-right: none;
        border-left: none;
      }
      
      

  
  .pastores{
      padding:2px;
      background-color:  rgba(27, 27, 27, 0.9);
      display:block;
      text-align: center;
  }  
  
  .perfil{
      border-radius: 50%;
      width: 200px;
      height: 200px;
      margin-right: 10%;
      vertical-align: text-bottom;
  }
    
    
    
    
    
    
    /*EVENTOS EVENTOS EVENTOS*/
    .fondo-evento{
        background-image: url(img/fondo-naranja.jpeg);
        background-position: center;
        background-position: 44% 41%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .cabeza-eventos{
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: url(img/fondo-eventos.jpg);
        height: 100%;
        width:  100%;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        text-align: center;
    }
    
    .image-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
      }
      
      .image-column {
        flex: 0 0 50%;
        padding: 5px;
        box-sizing: border-box;
        text-align: center;
      }
      
      .image-column img {
        max-width: 500px ;
        max-height: 700px;
        height: 100%; 
        width:100%;

        height: auto;
      }
      
      .image-description {
        margin-top: 10px;
        text-align: left; 
      }
      
      .image-list {
        list-style-type: none; 
        padding: 0;
        margin: 0;
        background-color: rgba(27, 27, 27, 0.9);
      }
    
    
    
    
    
    
    

    
    
    /*MUSICA*/
    

    .fondo-musica {
      background-color: #141414;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; 
      height: 140vh; 
    
    }

    .cabeza-musica {
        padding-top: 200px;
        padding-bottom: 300px;
        background-image: url(img/Headmusic.jpeg);
        height: 100%;
        width:  100%;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        text-align: center;
      }
      

        .logo-musica {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        }


    .cancion-semana {
        padding: 40px;
        background-color:rgb(27, 27, 27);
        text-align: center;
        margin-bottom: 90px;
        border: #fff solid 1px;
        border-left: none;
        border-right: none;
        
    }
    .cancion-semana a {

        color: white;
    }
    
    .boton{ 
            display: inline-block;
            padding: 12px 24px;
            background-color:rgb(109, 109, 109);
            color: black;
            text-decoration: none;
            border-radius: 4px;
            transition: transform 0.7s ease;
    }
    .boton:hover{
        transform: scale(1.1);

    }
    .musicos{
        margin-top: 100px;
        padding: 2px;
        width: 500px;
        height:800px;
        background-color:darkslateblue;
        opacity: .8;
    }
    .musicos div {
        display: inline-block;
        align-content:space-between;
        margin: 25px;
        margin-top: 10px;
    }
    .foto-musicos {
    
         background: lightblue;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    .sobre-grupo{
        padding: auto;
        padding:30px ;
        background-color: rgb(27, 27, 27);   
        margin-top: 44px;
        border: #fff solid 1px;
        border-left: none;
        border-right: none;
    }
    .sobre-grupo p {
        color:white;
        margin-right: 25px;
        margin-left: 25px;
        text-align: center;
    }
    .carousel-container {
      width: 100%; 
      max-width: 1500px; 
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      overflow: hidden;
    }
    
    .carousel-inner {
      width: 100%;
      height: 100%;
    }
    
    .carousel-item {
      text-align: center;
    }
    
    .carousel-control-prev, .carousel-control-next {
      background-color: rgba(0, 0, 0, 0.5);
    }
    
    .carousel-control-prev-icon, .carousel-control-next-icon {
      filter: invert(1);
    }
    
    .grupo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    
    
    
    
    
    
    
    /*GALERIA*/

    .fondo-galeria {
      background-image: url(img/fondo-galeria.jpeg);
      background-position: 44% 41%;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    
    .cabeza-galeria{
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url(img/encabezado-gal.jpg);
        height: 100%;
        width: 100%;
        background-size:cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        text-align: center;
  }



    .divisor-galeria {
      padding: 20px;
      background-color: rgb(27, 27, 27);
      text-align: center;
      margin-bottom: 5px;
      border:#fff solid 1px;
      border-right: none;
      border-left: none;
    }
    
    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-gap: 5px;
      max-width: 100%; 
    overflow-x: hidden; 
      justify-items: center;
      align-items: center;
    }
    
    .gallery img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    
    
    

    
    
    /*FOOTER*/
    .foot-container{
        display:flex;
        padding:15px;
        background-color:#141414;
        justify-content: space-between;
    }
    .fb-footer {
        width: 24px;
        height: 24px;
        border-radius: 12px;
        margin-left: 17px;
    }
    .ig-footer {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin-left: 17px;
    }
    .enlaces-footer {
        display:flex;
        flex-direction: row-reverse;
        margin-right: 50px;
    }

    .logo {
      width: 60px;
      height: 60px;
      border-radius: 30px;}